{
  "appid": "touristappid",
  "projectname": "order-tracking-miniprogram",
  "compileType": "miniprogram",
  "miniprogramRoot": "./",
  "setting": {
    "es6": true,
    "postcss": true,
    "minified": true,
    "compileHotReLoad": true,
    "useCompilerPlugins": ["typescript"]
  }
}
